<%- include("../partials/head.ejs") %> 

<nav class="topBarMenu">  
    <a class="topBarMenu__link" href="/products">Produits</a>
    <a class="topBarMenu__link" href="/products/new">Ajouter</a>
    <a class="topBarMenu__link" href="/products/clear">Supprimer</a>
    <a class="topBarMenu__link" href="/">Retour</a>
</nav>

<main>

    <h1>EDITER PRODUITS</h1>

    <form class="productForm" action="/products/new" method="POST">
        <label for="newProduct">modifier produit :</label>
        <input type="text" name="productName" placeholder="productName" value="<%= product.title %>">
        <input type="number" name="productPrice" placeholder="productPrice" value="<%= product.price %>" step="0.01">
        <input type="text" name="productUrl" placeholder="productUrl" value="<%= product.url %>">
        <textarea name="productDescription" placeholder="productDescription"id="" cols="30" rows="10"><%= product.description %></textarea>
        <button type="submit">AJOUTER</button>
    </form>

</main>
<%- include("../partials/footer.ejs") %> 
